[submodule "themes/devfest-theme-hugo"]
	path = themes/devfest-theme-hugo
	url = https://github.com/maciejkoszykowski/devfest-theme-hugo-fork.git
[submodule "themes/navigator-hugo"]
	path = themes/navigator-hugo
	url = https://github.com/maciejkoszykowski/navigator-hugo-fork.git
